div.scatterpoint {
    width: 9px;
    height: 9px;
    position: absolute;
    border-radius: 4px;
}  
div.zero {
    background-color: #000000;
    cursor: crosshair;
}
div.zerozero {
    cursor: default;
}
div.pi {
    border: 1px solid #444444;
    border-radius: 3px;
}
div.cp {
    background-color: #888888;
}
div.cv {
    background-color: #444444;
}
canvas.graph{
    position: relative;
}
/*canvas {
  background-color: #eeeeee;
  }*/
.canvaswrapper {
    user-select: none;
    border: 2px solid black; 
    width: 400px; 
    height: 400px; 
    position: relative; 
    display: inline-block;
}
.workingbutton {
    background-color: red;
}
