.zhlabel {
    position: absolute;
    top: 0px;
    left: 0px;
}

ul.criticalpoints, ul.zeroes, ul.criticalvalues, ul.criticalangles {
    list-style: none;
    margin: 0px;
    margin-bottom: 15px;
    padding: 0px;
}

ul.criticalvalues li, ul.criticalpoints li, ul.zeroes li {
    width: 200px;
    float: left;
}

div.statsblock h3 {
    margin-top: 0px;
}

div.statsblock {
    display: inline-block;
    width: 400px; /* float: left; */
    vertical-align: top;
}

div.scatterpoint {
    width: 9px;
    height: 9px;
    position: absolute;
    border-radius: 50%;
}  

.bigdots div.scatterpoint {
    width: 27px;
    height: 27px;
}

@media print {
    h1, #links, #settings1, #settings2, #clicklocation, .zhlabel {
	display: none;
    }
    body { 
	margin: 10px;
    }
}

div.innerzero {
    width: 13px;
    height: 13px;
    background-color: black;
    border: 1px solid black;
    border-radius: 50%;
}

div.zero {
    background-color: white;
    border: 1px solid black;
}

.rainbowholder .zero {
    cursor: crosshair;
}

div.zerozero {
    cursor: default;
}
div.pi, div.path {
    border: 1px solid #444444;
    width: 5px;
    height: 5px;
}
div.cp {
    border: 1px solid #444444;
    background-color: #888888;
}
li.cp.picked, li.cv.picked {
    background-color: grey;
}
div.cp.picked, div.cv.picked {
    background-color: #000088;
    border: 1px solid yellow;
    /* Bump it up to the top so that if we have a stack of identical critical values,
       this one shows up. */
    z-index: 100; 
}

div.cv {
    border: 1px solid #444444;
    background-color: #444444;
}
canvas.graph{
    position: relative;
}
canvas.rglines, canvas.rblines {
    position: absolute !important; left: 0px; top: 0px;
}
#rangewrapper {
 /*   display: none; */
}
/*canvas {
  background-color: #eeeeee;
  }*/
.circle {
    position: absolute;
    border: 1px solid black;
/*
    left: -2px;
    top: -2px;
*/
    border-radius: 50%;
    background-color: transparent;
    z-index: -1;
}

canvas, .circle, .zeroesholder {
    -webkit-user-select: none;
    -moz-user-select: none;
}

.zeroesholder {
    /* border: 2px solid black;  */
    width: 10px; 
    height: 10px; 
    position: relative; 
    display: inline-block;
}
.zeroesholderHidden {
    overflow: hidden !important;
}
.zeroesholderScroll {
    overflow: scroll !important;
}
.workingbutton {
    background-color: red;
}
