
#header {
    position: relative;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
}


#links {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 20px;
}

#links a {
    margin: 0px 10px;
}
